:target {
    display: block;
    position: relative;
    top: -100px;
}

.card {
    box-shadow: 5px 5px 5px #0002;
    border-color: #444;
    background-color: #ccc8;
    color: #0009
}

.jumbotron {
    background-color: #eee4;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 5px 5px 25px #0002;
}

.jumbotron a {
    color: lightgray
}

.title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 6vw;
    text-align: right;
    padding: 30px;
    text-shadow: 8px 8px 10px #0002
}

.subtitle {
    font-size: 2vw
}

@media (max-width: 775px) {
    .title {font-size: 36pt}
    .subtitle {font-size: 24pt}
}

body {
    background: darkslategray;
    color: white
}
a {color:lightslategray}

.btn-primary {
    background-color: slategray;
    border-color: darkslategray;
}

.btn-primary:hover {
    background-color: darkslategray;
    border-color: black
}