:target {display: block;position: relative;top: -100px;}
.card {box-shadow: 5px 5px 5px #bbb2;border-color: #ccc; background-color:#ccc8}
.jumbotron {background-color:#eee4;backdrop-filter: blur(10px); border-radius:15px; box-shadow: 5px 5px 25px #0002}
.title {font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 6vw; text-align: right; 
        padding:30px; text-shadow:8px 8px 10px #0002}
.subtitle {font-size:2vw}
a {color:#000b}
@media (max-width: 775px) {.card-columns {column-count: 1;}}
@media (min-width: 775px) {.card-columns {column-count: 2;}}
@media (min-width: 1200px) {.card-columns {column-count: 3;}}
body {background: url('img/bg.jpg');background-attachment: fixed;background-size: 100%; backdrop-filter: blur(5px)}